
$color1menu: #415a80;
$color2menu:#11294d;
#header {
    background: linear-gradient(-46deg, $color1menu, $color2menu, $color1menu, $color2menu);
    background-size: 400% 400%;
    position: relative;
    animation: backgroundAnimation 8s ease-out infinite;
    width: 100%;
    position: fixed;
    z-index: 999999;
    padding: 13px;
    padding-bottom: 0;
    top: 0;
    left: 0;
}

@keyframes backgroundAnimation {
    0%{
          background-position: 0% 80%;
    }
    50%{
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 98%;
    }
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    padding-top: 9px;
    padding-bottom: 18px;
    margin-bottom: 10px;
}

#logo {
    width: 70px;
    height: 70px;
}

a:hover {
    background: rgba(0, 0, 0, 0.05);
}

#btn-mobile {
    display: none;
}

#menu {
    list-style: none;
    display: flex;
    font-size: 3em;
    gap: 0.5rem;
    font-weight: 500;
}

#menu a {
    display: block;
    padding: 0.5rem;
    margin: 20px;
    background: -webkit-linear-gradient(#637bad, #ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.effect-one > a {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		margin: -5px 0;
		background-color: white;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.4s ease-in-out 0s;
	}
	&:hover:before {
		visibility: visible;
		transform: scaleX(1);
	}
}


@media screen and (max-width: 730px) {
    #header {
        position: fixed;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #415a80;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid white;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        color: white;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    
}

