@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

$color1: #fff; 
section .larguraMaxforma {
    padding: 50px 50px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

nav .informNav {
    font-size: 38px;
    font-weight: 500;
    background: -webkit-linear-gradient(#637bad, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    padding: 50px;
    margin: 6%;
    background: #415a80;
    width: 400px;
    // border: 1px solid #addee4;
    box-shadow: 0 2px 3px 0px rgba(255, 255, 255, 0.25);
    border-radius: 6px;
    transition: 0.2s all;
}

nav .box-wrap:hover .box {
    filter: blur(3px);
    opacity: 0.5;
    transform: scale(0.98);
    box-shadow: none;
}

nav .box-wrap:hover .box:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px #415a80;
}

nav .box-wrap p {
    font-size: 25px;
    text-align: center;
    background: -webkit-linear-gradient(#637bad, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.conatiner-button-projeto {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;

    &.type1 {
        color: $color1;
        // Effect one
        &.type1::after,
        &.type1::before {
            content: "";
            display: block;
            position: absolute;
            width: 20%;
            height: 20%;
            border: 2px solid;
            transition: all 0.6s ease;
            border-radius: 2px;
        }
        &.type1::after {
            bottom: 0;
            right: 0;
            border-top-color: transparent;
            border-left-color: transparent;
            border-bottom-color: $color1;
            border-right-color: $color1;
        }
        &.type1::before {
            top: 0;
            left: 0;
            border-bottom-color: transparent;
            border-right-color: transparent;
            border-top-color: $color1;
            border-left-color: $color1;
        }
        &.type1:hover:after,
        &.type1:hover:before {
            width: 100%;
            height: 100%;
        }
    }
}

nav .repositorio {
    text-decoration: none;
    font-size: 25px;
    background: -webkit-linear-gradient(#637bad, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1100px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box {
        width: 300px;
        padding: 50px;
        margin-bottom: 20px;
    }
    nav .box-wrap p {
        font-size: 27px;
    }
}
