@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$timing: 265ms;
$iconColor: #415a80;
$accent: #738cb1;
$bluefade: #0043e0;
$gradient: #4572bb;

@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}

.footer-teste {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #415a80;

    h2 {
        color: #fff;
        margin-bottom: 20px;
        font-size: 38px;
        font-weight: 500;
        background: -webkit-linear-gradient(#637bad, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    // .text-rodape{

    // }
}

span {
    margin-bottom: 20px;
    margin-top: 20px;

    a {
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        border: 1px solid #637bad;
        border-radius: 20px;
        padding: 10px 10px;
        cursor: pointer;
        box-shadow: 0 0 5px 0px #e2e2e2;
    }
}

.social-container {
    text-align: center;
    margin-bottom: 20px;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 0;
    align-items: center;

    li {
        display: inline-block;
        margin: 1em;
        position: relative;
        font-size: 3em;
    }

    i {
        color: #fff;
        position: absolute;
        top: 15px;
        left: 17px;
        transition: all $timing ease-out;
        background: -webkit-linear-gradient(#376ad8, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        display: inline-block;

        &:before {
            @include transformScale();
            content: " ";
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, $iconColor, $accent);
            transition: all $timing ease-out;
        }

        &:hover:before {
            transform: scale(0);
            transition: all $timing ease-in;
        }

        &:hover i {
            @include transformScale(1.9);
            color: $iconColor;
            background: -webkit-linear-gradient(#376ad8, #fff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.footer-teste p {
    font-size: 2.6rem;
    background: -webkit-linear-gradient(#376ad8, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-rodape {
    opacity: 0.6;
}

@media screen and (max-width: 700px) {
    .footer-teste {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .footer-teste p {
        // font-size: 16px;
        color: #fff;
        background: -webkit-linear-gradient(#fff, #fff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-left: 10px;
        padding-right: 10px;
    }

    li {
        margin: 0.7rem;
    }
}
