@charset "UTF-8";
/* ini: Preloader */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #415a80;
  /* cor do background que vai ocupar o body */
  z-index: 999999999;
  /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
  position: absolute;
  top: 50%;
  /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: animarBola;
          animation-name: animarBola;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bolas > div:nth-child(1) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.bolas > div:nth-child(2) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.bolas > div:nth-child(3) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

@-webkit-keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* end: Preloader */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  border: 0;
  font-family: "Maiden Orange", cursive;
}

button:focus {
  border: 0;
}

body {
  font-family: "Maiden Orange", cursive;
  background-color: #415a80;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #415a80;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 8px;
}

#header {
  background-color: #415a80;
  width: 100%;
  position: fixed;
  z-index: 999999;
  padding: 13px;
  padding-bottom: 0;
  top: 0;
  left: 0;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  padding-top: 9px;
  padding-bottom: 18px;
  margin-bottom: 10px;
}

#logo {
  width: 70px;
  height: 70px;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#btn-mobile {
  display: none;
}

#menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3em;
  gap: 0.5rem;
  font-weight: 500;
}

#menu a {
  display: block;
  padding: 0.5rem;
  color: white;
  margin: 20px;
  background: -webkit-linear-gradient(#637BAD, #ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 730px) {
  #header {
    position: fixed;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #415a80;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid white;
  }
  #btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    color: white;
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
}

#animacao-bolinha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#animacao-bolinha .container {
  width: 1000px;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#415a80), to(#415a80));
  background: linear-gradient(0, #415a80, #415a80);
  overflow: hidden;
  height: 5vh;
  margin: 2px;
}

.stars {
  position: relative;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  -webkit-box-shadow: 50px 30px white, 100px 80px white, 80px 120px white, 300px 20px white, 250px 130px white, 200px 50px white, 150px 100px white, 320px 100px white;
          box-shadow: 50px 30px white, 100px 80px white, 80px 120px white, 300px 20px white, 250px 130px white, 200px 50px white, 150px 100px white, 320px 100px white;
  -webkit-animation: anim-stars 6s linear infinite;
          animation: anim-stars 6s linear infinite;
}

.stars::after {
  content: " ";
  position: absolute;
  top: 2px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  -webkit-box-shadow: 50px 30px white, 100px 80px white, 80px 120px white, 300px 20px white, 250px 130px white, 200px 50px white, 150px 100px white, 320px 100px white;
          box-shadow: 50px 30px white, 100px 80px white, 80px 120px white, 300px 20px white, 250px 130px white, 200px 50px white, 150px 100px white, 320px 100px white;
}

.stars2 {
  position: relative;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 15px white, 125px 35px white, 50px 80px white, 10px 120px white, 275px 90px white, 230px 10px white, 120px 130px white, 300px 130px white, 220px 115px white;
          box-shadow: 15px 15px white, 125px 35px white, 50px 80px white, 10px 120px white, 275px 90px white, 230px 10px white, 120px 130px white, 300px 130px white, 220px 115px white;
  -webkit-animation: anim-stars 6s linear infinite;
          animation: anim-stars 6s linear infinite;
}

.stars2::after {
  content: " ";
  position: absolute;
  top: 2px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 15px white, 125px 35px white, 50px 80px white, 10px 120px white, 275px 90px white, 230px 10px white, 120px 130px white, 300px 130px white, 220px 115px white;
          box-shadow: 15px 15px white, 125px 35px white, 50px 80px white, 10px 120px white, 275px 90px white, 230px 10px white, 120px 130px white, 300px 130px white, 220px 115px white;
}

@-webkit-keyframes anim-stars {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
}

@keyframes anim-stars {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
}

:root {
  --bg-color: #415a80;
}

#introducao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #fff;
  background-color: var(--bg-color);
}

.H3 {
  font-size: 40px;
}

.H1 {
  font-size: 50px;
}

.P {
  font-size: 2.5rem;
  opacity: 0.6;
  font-weight: 500;
}

.ruivo {
  width: 30rem;
  height: 30rem;
}

.home-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home-title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
  background: -webkit-linear-gradient(#637BAD, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-title span::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  -webkit-animation: a-ltr-after 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: a-ltr-after 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

.home-title span::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  -webkit-animation: a-ltr-before 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
          animation: a-ltr-before 1s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes a-ltr-after {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@keyframes a-ltr-after {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(101%);
            transform: translateX(101%);
  }
}

@-webkit-keyframes a-ltr-before {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes a-ltr-before {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@media screen and (max-width: 650px) {
  #introducao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.larguraMax {
  max-width: 1140px;
  margin: 0 auto;
}

.main-animacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.inform {
  width: 700px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-animacao .inform h2 {
  font-size: 38px;
  font-weight: 500;
  background: -webkit-linear-gradient(#637bad, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-animacao .inform p {
  font-size: 28px;
  text-align: center;
  padding: 0px 0px 20px;
  background: -webkit-linear-gradient(#9daed3, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-animacao .inform span {
  color: #415a80;
}

.button-sobre {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-animacao .ruivo {
  width: 30rem;
  height: 30rem;
}

@media screen and (max-width: 650px) {
  .main-animacao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-animacao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .main-animacao .inform {
    width: 340px;
    height: 590px;
    padding: 20px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #415a80;
}

.footer h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 500;
  background: -webkit-linear-gradient(#637bad, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -10px;
}

.social-buttons__button {
  margin: 10px 5px 0;
}

.social-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  width: 70px;
  height: 70px;
  text-decoration: none;
  border-radius: 100%;
  background: #415a80;
  text-align: center;
}

.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-button:focus, .social-button:hover {
  color: #fff;
}

.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-button i {
  font-size: 28px;
}

.social-button svg {
  height: 40%;
  width: 40%;
}

.social-button--mail {
  color: #902222;
}

.social-button--mail::after {
  background: #902222;
}

.social-button--whatsapp {
  color: #3b9962;
}

.social-button--whatsapp::after {
  background: #3b9962;
}

.social-button--linkedin {
  color: #0077b5;
}

.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--github {
  color: #6e5494;
}

.social-button--github::after {
  background: #6e5494;
}

.footer p {
  font-size: 2.6rem;
  background: -webkit-linear-gradient(#376ad8, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-rodape {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer p {
    color: #fff;
    background: -webkit-linear-gradient(#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
  }
}

#formacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#formacao .titulo-formacao {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 40px;
  background: -webkit-linear-gradient(#637bad, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-ilistration {
  width: 250px;
}

.container {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 70px;
  padding: 10px 0;
}

.container .card {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 0 auto;
  background: #415a80;
  border-radius: 15px;
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .card .face img {
  width: 150px;
}

.container .card .face.face1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.container .card .face.face1 h2 {
  margin: 0;
  padding: 0;
}

.container .card .face.face1 .java {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .card .face.face1 .python {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .card .face.face1 .cSharp {
  background-color: #fc00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .card .face.face2 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 4em;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  background: -webkit-linear-gradient(#637bad, #fff, #637bad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .card:hover .face.face2 {
  height: 60px;
}

.container .card:hover .face.face2 img {
  width: 20px;
  height: 20px;
}

.container .card:hover .face.face2 h2 {
  font-size: 2em;
}

.container .card:nth-child(1) .face.face2 {
  background-image: linear-gradient(40deg, #415a80 0%, #7896bb 45%, #40609b 100%);
  border-radius: 15px;
}

.container .card:nth-child(2) .face.face2 {
  background-image: linear-gradient(40deg, #7896bb 0%, #40609b 45%, #415a80 100%);
  border-radius: 15px;
}

.container .card:nth-child(3) .face.face2 {
  background-image: linear-gradient(40deg, #40609b 0%, #7896bb 45%, #415a80 100%);
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  #formacao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100vw;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80 px;
    padding: 10px 0;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .larguraMaxforma {
  padding: 50px 50px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .informNav {
  font-size: 38px;
  font-weight: 500;
  background: -webkit-linear-gradient(#637bad, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box {
  padding: 50px;
  margin: 6%;
  background: #415a80;
  width: 400px;
  -webkit-box-shadow: 0 2px 3px 0px rgba(255, 255, 255, 0.25);
          box-shadow: 0 2px 3px 0px rgba(255, 255, 255, 0.25);
  border-radius: 6px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

nav .box-wrap:hover .box {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  opacity: 0.5;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav .box-wrap:hover .box:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1;
  -webkit-box-shadow: 0 8px 20px 0px #415a80;
          box-shadow: 0 8px 20px 0px #415a80;
}

nav .box-wrap p {
  font-size: 25px;
  text-align: center;
  background: -webkit-linear-gradient(#637bad, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .repositorio {
  text-decoration: none;
  font-size: 25px;
  background: -webkit-linear-gradient(#637bad, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .box-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .box {
    width: 300px;
    padding: 50px;
    margin-bottom: 20px;
  }
  nav .box-wrap p {
    font-size: 27px;
  }
}

:root {
  --green: #415a80;
  --cyan: #415a80;
  --blue: #415a80;
  --purple: #415a80;
  --pink: #415a80;
  --orange: #415a80;
  --deep-purple: #415a80;
  --duration: 0.7s;
  --ease: cubic-bezier(0.6, 0, 0.2, 1);
  --transition: transform var(--duration) var(--ease);
}

#conhecimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--deep-purple);
  overflow: hidden;
}

.goo-filter {
  position: absolute;
  visibility: hidden;
}

#app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 50vmin;
  width: 55vmin;
}

#app > section {
  margin: 6vmin 8vmin;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 800px;
          perspective: 800px;
  will-change: transform;
}

section > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1 / 1;
}

.backgrounds {
  -webkit-filter: url("#goo");
          filter: url("#goo");
  pointer-events: none;
}

.background {
  will-change: transform;
  border-radius: 2vmin;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary, blue)), to(var(--secondary, pink)));
  background-image: linear-gradient(to bottom, var(--primary, blue), var(--secondary, pink));
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#415a80), to(#8391a7));
  background-image: linear-gradient(to bottom, #415a80, #8391a7);
  opacity: 0.8;
  -webkit-transition: inherit;
  transition: inherit;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.background[data-active]::before {
  opacity: 0.01;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.background,
article {
  will-change: transform;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transition-property: z-index, -webkit-transform, -webkit-transform-origin;
  transition-property: z-index, -webkit-transform, -webkit-transform-origin;
  transition-property: transform, transform-origin, z-index;
  transition-property: transform, transform-origin, z-index, -webkit-transform, -webkit-transform-origin;
  padding: 5vmin;
  color: white;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: translateX(-90%) translateZ(-25vmin) rotateY(40deg);
          transform: translateX(-90%) translateZ(-25vmin) rotateY(40deg);
}

.background[data-active],
article[data-active] {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translateX(0) translateZ(0) rotateY(0deg);
          transform: translateX(0) translateZ(0) rotateY(0deg);
  z-index: 3;
}

.background[data-active] ~ *,
article[data-active] ~ * {
  z-index: -1;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: translateX(140%) translateZ(-25vmin) rotateY(-40deg);
          transform: translateX(140%) translateZ(-25vmin) rotateY(-40deg);
}

.background[data-active] + *,
article[data-active] + * {
  z-index: 1;
  -webkit-transform: translateX(90%) translateZ(-25vmin) rotateY(-40deg);
          transform: translateX(90%) translateZ(-25vmin) rotateY(-40deg);
}

article {
  opacity: 0;
  -webkit-transition-property: opacity, z-index, -webkit-transform, -webkit-transform-origin;
  transition-property: opacity, z-index, -webkit-transform, -webkit-transform-origin;
  transition-property: transform, transform-origin, opacity, z-index;
  transition-property: transform, transform-origin, opacity, z-index, -webkit-transform, -webkit-transform-origin;
}

article[data-active] {
  opacity: 1;
}

h1 {
  font-size: 4vmin;
  line-height: 1.2;
}

p {
  font-size: 2.5vmin;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
}

section .content article .titulo-conhecimento {
  font-size: 38px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-linear-gradient(#415a80, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section .content article .continer-conhecimento .header-conhecimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .content article span h1,
img {
  margin-left: 60px;
  font-size: 29px;
  font-weight: 500;
  background: -webkit-linear-gradient(#415a80, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content img {
  width: 20px;
}

section .content article h1 {
  font-size: 35px;
  font-weight: 500;
  background: -webkit-linear-gradient(#415a80, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section .content article p {
  font-size: 26px;
  width: 50%;
  text-align: center;
}

section .content article .continer-conhecimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 70px;
  margin-left: 70px;
}

section .content article .continer-conhecimento .container-conhecimento-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-top: 10px;
}

section .content article .continer-conhecimento a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  background: -webkit-linear-gradient(#415a80, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid #8391a7;
  border-radius: 12px;
  padding: 6px;
}

section .content article .continer-conhecimento a:hover {
  color: #fff;
  background-color: red;
}

section .content article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .content article .continer-conhecimento .icone-maior-conhecimento {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 600px) {
  section .content article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  h1 {
    font-size: 3vmin;
    line-height: 1.2;
  }
  p {
    font-size: 2.0vmin;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
  }
}

.butao-lateral {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.butao-lateral .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
}

.butao-lateral .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  -webkit-transition: all 1s 0.2s ease;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}

.butao-lateral .social {
  opacity: 0;
  right: 0;
  bottom: 0;
}

.butao-lateral .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s ease, background-color 0.4s ease;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}

.butao-lateral .social.portfolio {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.butao-lateral .social.portfolio .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/link.svg);
}

.butao-lateral .social.dribbble {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.butao-lateral .social.dribbble .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/dribbble.svg);
}

.butao-lateral .social.linkedin {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.butao-lateral .social.linkedin .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/linkedin.svg);
}

.butao-lateral:hover {
  width: 105px;
  height: 105px;
  -webkit-transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.butao-lateral:hover .logo {
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.butao-lateral:hover .social {
  opacity: 1;
}

.butao-lateral:hover .social .icon {
  opacity: 0.9;
}

.butao-lateral:hover .social:hover {
  background-size: 28px;
}

.butao-lateral:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}

.butao-lateral:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  -webkit-transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.butao-lateral:hover .social.portfolio .icon:hover {
  background-color: #698fb7;
}

.butao-lateral:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  -webkit-transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.butao-lateral:hover .social.dribbble .icon:hover {
  background-color: #ea4c89;
}

.butao-lateral:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  -webkit-transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.butao-lateral:hover .social.linkedin .icon:hover {
  background-color: #0077b5;
}
/*# sourceMappingURL=styled.css.map */