@charset "UTF-8";
/* ini: Preloader */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #415a80;
  /* cor do background que vai ocupar o body */
  z-index: 999;
  /* z-index para jogar para frente e sobrepor tudo */
}

#preloader .inner {
  position: absolute;
  top: 50%;
  /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: animarBola;
          animation-name: animarBola;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bolas > div:nth-child(1) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.bolas > div:nth-child(2) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.bolas > div:nth-child(3) {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

@-webkit-keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* end: Preloader */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  border: 0;
  font-family: "Maiden Orange", cursive;
}

button:focus {
  border: 0;
}

body {
  font-family: "Maiden Orange", cursive;
  background-color: #415a80;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #415a80;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 8px;
}

#header {
  background-color: #415a80;
  width: 100%;
  position: fixed;
  z-index: 999999;
  padding: 13px;
  top: 0;
  left: 0;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  padding-top: 9px;
  padding-bottom: 18px;
  margin-bottom: 10px;
}

#logo {
  width: 70px;
  height: 70px;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#btn-mobile {
  display: none;
}

#menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3em;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  color: white;
  margin: 20px;
  background: -webkit-linear-gradient(#637BAD, #ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  #header {
    position: fixed;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: #415a80;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid white;
  }
  #btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    color: white;
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
}

#animacao-bolinha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#animacao-bolinha .container {
  width: 1000px;
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#415a80), to(#415a80));
  background: linear-gradient(0, #415a80, #415a80);
  overflow: hidden;
  height: 5vh;
}

.stars {
  position: relative;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  -webkit-box-shadow: 50px 30px white, 100px 80px white, 80px 120px white, 300px 20px white, 250px 130px white, 200px 50px white, 150px 100px white, 320px 100px white;
          box-shadow: 50px 30px white, 100px 80px white, 80px 120px white, 300px 20px white, 250px 130px white, 200px 50px white, 150px 100px white, 320px 100px white;
  -webkit-animation: anim-stars 10s linear infinite;
          animation: anim-stars 10s linear infinite;
}

.stars::after {
  content: " ";
  position: absolute;
  top: 2px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  -webkit-box-shadow: 50px 30px white, 100px 80px white, 80px 120px white, 300px 20px white, 250px 130px white, 200px 50px white, 150px 100px white, 320px 100px white;
          box-shadow: 50px 30px white, 100px 80px white, 80px 120px white, 300px 20px white, 250px 130px white, 200px 50px white, 150px 100px white, 320px 100px white;
}

.stars2 {
  position: relative;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 15px white, 125px 35px white, 50px 80px white, 10px 120px white, 275px 90px white, 230px 10px white, 120px 130px white, 300px 130px white, 220px 115px white;
          box-shadow: 15px 15px white, 125px 35px white, 50px 80px white, 10px 120px white, 275px 90px white, 230px 10px white, 120px 130px white, 300px 130px white, 220px 115px white;
  -webkit-animation: anim-stars 20s linear infinite;
          animation: anim-stars 20s linear infinite;
}

.stars2::after {
  content: " ";
  position: absolute;
  top: 2px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 15px white, 125px 35px white, 50px 80px white, 10px 120px white, 275px 90px white, 230px 10px white, 120px 130px white, 300px 130px white, 220px 115px white;
          box-shadow: 15px 15px white, 125px 35px white, 50px 80px white, 10px 120px white, 275px 90px white, 230px 10px white, 120px 130px white, 300px 130px white, 220px 115px white;
}

@-webkit-keyframes anim-stars {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
}

@keyframes anim-stars {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
}

#introducao {
  background-color: #415a80;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
}

#introducao .estilizacao-intro h3 {
  font-size: 40px;
  background: -webkit-linear-gradient(#637BAD, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#introducao .estilizacao-intro h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(#637BAD, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#introducao .estilizacao-intro p {
  color: #fefbfb;
  opacity: 0.5;
  padding: 25px;
  font-size: 2.5rem;
}

#introducao .ruivo {
  width: 30rem;
  height: 30rem;
}

@media screen and (max-width: 600px) {
  #introducao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.larguraMax {
  max-width: 1140px;
  margin: 0 auto;
}

.main-animacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.inform {
  width: 700px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-animacao .inform h2 {
  font-size: 38px;
  background: -webkit-linear-gradient(#637bad, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-animacao .inform p {
  font-size: 28px;
  text-align: center;
  padding: 0px 0px 20px;
  background: -webkit-linear-gradient(#9daed3, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-animacao .inform span {
  color: #415a80;
}

.button-sobre {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-animacao .ruivo {
  width: 30rem;
  height: 30rem;
}

@media screen and (max-width: 600px) {
  .main-animacao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-animacao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .main-animacao .inform {
    width: 340px;
    height: 590px;
    padding: 20px;
  }
}

footer {
  padding: 50px 10px;
  text-align: center;
  background-color: #415a80;
  color: #fefbfb;
  font-family: "Maiden Orange", cursive;
}

footer > a {
  background-color: #415a80;
  padding: 10px 20px;
  border-radius: 6px;
  color: #fefbfb;
  font-size: 25px;
}

.footer-a {
  position: relative;
  padding: 20px;
  width: 350px;
  -webkit-box-shadow: 0 0 5px 0px #e2e2e2;
          box-shadow: 0 0 5px 0px #e2e2e2;
  cursor: pointer;
}

.footer-a:after,
.footer-a:before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.footer-a:before {
  border-left: 2px solid #5283ec;
  border-right: 2px solid #5283ec;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  border-radius: 20px;
}

.footer-a:after {
  border-bottom: 2px solid #5283ec;
  border-top: 2px solid #5283ec;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  border-radius: 20px;
}

.footer-a:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.footer-a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

footer > a:hover {
  opacity: 1;
}

footer h2 {
  color: #fefbfb;
  font-weight: 500;
  font-size: 38px;
  background: -webkit-linear-gradient(#637BAD, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer p {
  color: #fefbfb;
  opacity: 0.9;
  padding: 25px;
  font-size: 2.6rem;
  background: -webkit-linear-gradient(#376ad8, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer p:nth-child(2) {
  margin-bottom: 25px;
}

footer p:nth-child(5) {
  opacity: 1;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 30px;
}

footer .footer-a {
  border-radius: 20px;
  background-color: #52698b;
  color: #fff;
  opacity: 0.5;
}

footer div a {
  background-color: #52698b;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 5px;
  color: #fefbfb;
  opacity: 0.5;
  font-size: 1.9rem;
}

footer div a:hover {
  opacity: 1;
}

#formacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#formacao .titulo-formacao {
  font-size: 38px;
  margin-bottom: 40px;
  background: -webkit-linear-gradient(#637bad, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 10px 0;
}

.container .card {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 0 auto;
  background: #415a80;
  border-radius: 15px;
  -webkit-box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}

.container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card .face.face1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.container .card .face.face1 h2 {
  margin: 0;
  padding: 0;
}

.container .card .face.face1 .java {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .card .face.face1 .python {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .card .face.face1 .cSharp {
  background-color: #fc00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .card .face.face2 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .card .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 6em;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  background: -webkit-linear-gradient(#376ad8, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .card:hover .face.face2 {
  height: 60px;
}

.container .card:hover .face.face2 h2 {
  font-size: 2em;
}

.container .card:nth-child(1) .face.face2 {
  background-image: linear-gradient(40deg, #415a80 0%, #7896bb 45%, #40609b 100%);
  border-radius: 15px;
}

.container .card:nth-child(2) .face.face2 {
  background-image: linear-gradient(40deg, #7896bb 0%, #40609b 45%, #415a80 100%);
  border-radius: 15px;
}

.container .card:nth-child(3) .face.face2 {
  background-image: linear-gradient(40deg, #40609b 0%, #7896bb 45%, #415a80 100%);
  border-radius: 15px;
}
/*# sourceMappingURL=styled.css.map */